<div class="widget widget_popular_entries">
    <div class="widget-header">
        <h3 class="xs-title">Последние проекты</h3>
        <span class="border-divider"></span>
    </div>
        <div class="widget-posts">
            {% for case in recent_cases %}
            <div class="widget-post media">
                <div class="post-thumb">
                    <div class="post-image-container">
                        <img src="{{ case.image.url }}" class="d-flex" alt="{{ case.title }}">
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="entry-title">
                        <a href="{{ case.get_absolute_url }}">{{ case.title | truncatewords:5|safe }}</a>
                    </h4>
                </div>
            </div><!-- .widget-post END -->
            {% endfor %}
        </div><!-- .widget-posts END -->
    </div><!-- .widget .widget_popular_entries END -->