{% load static %}

<footer class="xs-footer-section">
			<div class="container">
				<div class="footer-top-area">
					<div class="row">
						<div class="col-md-2">
							<div class="footer-logo">
								<a href="/">
									<img src="{% static 'assets/images/logo-transparent-header.png' %}" alt="">
								</a>
							</div><!-- .footer-logo END -->
						</div>
						<div class="col-md-10">
							<ul class="address-info-list list-inline">
								<li>
									<div class="address-icon">
										<img src="{% static 'assets/images/pin.png' %}" alt="">
									</div>
									<div class="address-info">
										<a href="https://yandex.ru/maps/org/mdigital/128234723196/?ll=38.279200%2C46.680868&z=16">353680 г.Ейск, Россия <br>Мичурина ул., 16/1, Этаж 2</a>
									</div>
								</li>
								<li>
									<div class="address-icon"><img src="{% static 'assets/images/telezhka.png' %}" alt=""></div>
									<div class="address-info"><a href="https://t.me/MDigital_ibot">MDigital <br>Bot</a></div>
								</li>
								<li>
									<div class="address-icon"><img src="{% static 'assets/images/massage.png' %}" alt=""></div>
									<div class="address-info">
										<a href="tel:+7%20(902)%407-7776">+7 (902) 407-7776</a>
										<br> <a href="mailto:mdigital@mdigital.su">mailto@mdigital.su</a>
									</div>
								</li>
							</ul><!-- .address-info-list END -->
						</div>
					</div>
				</div><!-- .footer-top-area END -->
			</div>
			<div class="footer-main">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-3">
							<div class="footer-widget">
								<h4 class="xs-content-title">Наша компания</h4>
								<ul class="xs-lsit">
									<li><a href="{% url 'about' %}">О нас</a></li>
									<li><a href="{% url 'projects' %}">Проекты</a></li>
									<li><a href="{% url 'contacts' %}">Контакты</a></li>
									<li><a href="{% url 'career' %}">Карьера</a></li>
								</ul>
							</div><!-- .footer-widget END -->
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="footer-widget">
								<h4 class="xs-content-title">Направления</h4>
								<ul class="xs-lsit">
									<li><a href="{% url 'monetization' %}">Монетизация сайтов</a></li>
									<li><a href="{% url 'tg_development' %}">Разработка Telegram</a></li>
									<li><a href="{% url 'web_development' %}">Web Разработка</a></li>
								</ul>
							</div><!-- .footer-widget END -->
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="footer-widget">
								<h4 class="xs-content-title">Услуги</h4>
								<ul class="xs-lsit">
									<li><a href="{% url 'analytics' %}">Аналитика</a></li>
									<li><a href="{% url 'support' %}">Сопровождение</a></li>
								</ul>
							</div><!-- .footer-widget END -->
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="footer-widget">
								<h4 class="xs-content-title">Задать вопрос</h4>
								<form action="{% url 'submit_question' %}" class="contact-form" method="post">
									{% csrf_token %}
									<input type="email" id="email" name="email" placeholder="Введите Ваш Email" class="form-control">
									<textarea name="message" id="message" class="form-control" placeholder="Ваш вопрос" cols="30" rows="10"></textarea>
									<input type="submit" value="Отправить" class="submit-btn">
									<!-- Поле вывода сообщений пользователю -->
									<div id="question-message" class="question-message"></div>
								</form>
							</div><!-- .footer-widget END -->
						</div>
					</div>
				</div>
			</div><!-- .footer-main END -->
			<div class="partner-area-wraper">
				<div class="container">
					<div class="partner-area">
						<div class="row">
							<div class="col-md-8">
								<ul class="xs-lsit list-inline">
									<li class="title">ПАРТНЁРЫ :</li>
									<li><img src="{% static 'assets/images/partner/adfinity-logo.png' %}" alt=""></li>
								</ul>
							</div>
							<div class="col-md-4">
								<ul class="xs-list list-inline text-right">
									<li><img src="{% static 'assets/images/card/world.png' %}" alt=""></li>
									<li><img src="{% static 'assets/images/card/visa.png' %}" alt=""></li>
									<li><img src="{% static 'assets/images/card/master-card.png' %}" alt=""></li>
									<li><img src="{% static 'assets/images/card/emoney.png' %}" alt=""></li>
								</ul>
							</div>
						</div>
					</div><!-- .partner-area END -->
				</div>
			</div><!-- partner-area-wraper. END -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="copyright-text">
								<p>Copyright &copy; 2018, Все права защищены <a href="/">MDigital</a></p>
							</div><!-- .copyright-text END -->
						</div>
						<div class="col-md-6">
							<ul class="social-list">
								<li><a href="https://t.me/MDigital_ibot" class="twitter"><i class="fa fa-telegram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- .copyright END -->
		</footer>