{% load static %}
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/Popper.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="{% static 'assets/js/scrollax.js' %}"></script>
<script src="{% static 'assets/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'assets/js/delighters.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/cookie_consent.js' %}"></script>
