{% load static %}

<!-- formats section -->
<section class="why-choose-section xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
<!--                    <h2 class="section-subtitle">Форматы</h2>-->
                    <h3 class="section-title ">Форматы</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp">
                    <h4 class="xs-content-title why-choose-us-block">Native Banner</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/native-1.png' %}" alt="native format">
                    </div>
                    <p>Блоки в контенте — лояльные к вашим посетителям. <br>
                        - Самый популярный вид баннеров <br>
                        ✔ Настраиваются для каждого сайта – с учетом дизайна и вёрстки <br>
                        ✔ Используется проверка видимости<br>
                        ✔ Рефреш блока при продолжительном нахождении в зоне видимости
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp" data-wow-duration="1.5s">
                    <h4 class="xs-content-title why-choose-us-block">Top Sticky Banner</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/top_sticky-2.png' %}" alt="top_sticky format">
                    </div>
                    <p>Горизонтальный баннер в верхней части экрана <br>
                        - При скролле фиксируется на 2 секунды, обеспечивая максимальную видимость <br>
                        ✔ Настраивается для каждого сайта – с учетом дизайна и вёрстки <br>
                        ✔ Размер баннера адаптивный<br>
                        ✔ Время фиксации настраивается<br>
                        ✔ Количество показов пользователю настраивается
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp" data-wow-duration="2s">
                    <h4 class="xs-content-title why-choose-us-block">Sticky Sidebar</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/sticky_sidebar-3.png' %}" alt="sticky sidebar format">
                    </div>
                    <p>Вертикальный баннер для десктопа в боковой панели сайта. <br>
                        - При скролле фиксируется в верхней части экрана <br>
                        ✔ Настраивается для каждого сайта – с учетом дизайна и вёрстки <br>
                        ✔ Размер баннера адаптивный <br>
                        ✔ Время фиксации настраивается <br>
                        ✔ Количество показов пользователю настраивается
                    </p>
                </div>
            </div>
        </div>
    </div><!-- .container END -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp">
                    <h4 class="xs-content-title why-choose-us-block">Mobile Overlay</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/mobile_overlay-4.png' %}" alt="mobile overlay">
                    </div>
                    <p>Горизонтальный баннер для мобильных устройств в нижней части экрана. <br>
                        - Закрывается при клике на крестик <br>
                        ✔ Размер оболочки: <br> - 300×100px и 300×200px <br>
                        ✔ Размер баннера адаптивный <br>
                        ✔ Время закрытия настраивается <br>
                        ✔ Количество показов настраивается

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp" data-wow-duration="1.5s">
                    <h4 class="xs-content-title why-choose-us-block">Desktop Overlay</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/desktop_overlay-5.png' %}" alt="desktop overlay-5">
                    </div>
                    <p>Горизонтальный баннер для десктопа. Появляется в нижней части экрана. <br>
                        - Не перекрывает контент. <br>
                        Закрывается при клике на крестик <br>
                        ✔ Размер оболочки адаптивный <br>
                        ✔ Размер баннера до 336×280px <br>
                        ✔ Время закрытия настраивается <br>
                        ✔ Количество показов настраивается
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp" data-wow-duration="2s">
                    <h4 class="xs-content-title why-choose-us-block">Multi Mobile Overlay</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/multi_mobile_overlay-6.png' %}" alt="multi mobile overlay format">
                    </div>
                    <p>Два баннера для мобильных устройств в верхней и нижней части экрана. <br>
                        - Верхний фиксируется на 2 секунды, нижний закрывается крестиком <br>
                        ✔ Размер оболочки: <br> - сверху и снизу 300×100px <br>
                        ✔ Размер баннеров адаптивный <br>
                        ✔ Время закрытия настраивается <br>
                        ✔ Количество показов настраивается
                    </p>
                </div><!-- .why-choose-us-block END -->
            </div>
        </div>
    </div><!-- .container END -->
</section>
<!-- END formats section -->