{% load static %}

<!-- formats section -->
<section class="why-choose-section xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
                    <h3 class="section-title why-choose-h3">Форматы</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp">
                    <h4 class="xs-content-title why-choose-us-block">Native Banner</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/native-1.png' %}" alt="native format">
                    </div>
                    <div class="another-block wow fadeInUp">
                    <h5>Блоки в контенте лояльные к вашим посетителям - cамый популярный вид баннеров</h5>
                    </div>
                    <hr>
                    <p>Настраиваются для каждого сайта – с учетом дизайна и вёрстки</p>
                    <p>Используется проверка видимости</p>
                    <p>Рефреш блока при продолжительном нахождении в зоне видимости</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp" data-wow-duration="1.5s">
                    <h4 class="xs-content-title why-choose-us-block">Top Sticky Banner</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/top_sticky-2.png' %}" alt="top_sticky format">
                    </div>
                    <h5>Горизонтальный баннер в верхней части экрана - при скролле фиксируется на 2 секунды,
                        обеспечивая максимальную видимость </h5>
                    <hr>
                        <p>Настраивается для каждого сайта – с учетом дизайна и вёрстки</p>
                        <p>Размер баннера адаптивный</p>
                        <p>Время фиксации настраивается</p>
                        <p>Количество показов пользователю настраивается</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp" data-wow-duration="2s">
                    <h4 class="xs-content-title why-choose-us-block">Sticky Sidebar</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/sticky_sidebar-3.png' %}" alt="sticky sidebar format">
                    </div>
                    <div class="another-block wow fadeInUp">
                    <h5>Вертикальный баннер для десктопа в боковой панели сайта - при скролле фиксируется
                        в верхней части экрана</h5>
                    </div>
                    <hr>
                        <p>Настраивается для каждого сайта – с учетом дизайна и вёрстки</p>
                        <p>Размер баннера адаптивный</p>
                        <p>Время фиксации настраивается</p>
                        <p>Количество показов пользователю настраивается</p>
                </div>
            </div>
        </div>
    </div><!-- .container END -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp">
                    <h4 class="xs-content-title why-choose-us-block">Mobile Overlay</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/mobile_overlay-4.png' %}" alt="mobile overlay">
                    </div>
                     <div class="another-block wow fadeInUp">
                    <h5>Горизонтальный баннер для мобильных устройств в нижней части экрана - закрывается при клике
                        на крестик </h5>
                    </div>
                    <hr>
                        <p>Размер оболочки: <br> - 300×100px и 300×200px</p>
                        <p>Размер баннера адаптивный</p>
                        <p>Время закрытия настраивается</p>
                        <p>Количество показов настраивается</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp" data-wow-duration="1.5s">
                    <h4 class="xs-content-title why-choose-us-block">Desktop Overlay</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/desktop_overlay-5.png' %}" alt="desktop overlay-5">
                    </div>
                    <h5>Горизонтальный баннер для десктопа.
                        Появляется в нижней части экрана - не перекрывает контент, закрывается при клике на крестик</h5>
                    <hr>
                        <p>Размер оболочки адаптивный</p>
                        <p>Размер баннера до 336×280px</p>
                        <p>Время закрытия настраивается</p>
                        <p>Количество показов настраивается</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-formats-block wow fadeInUp" data-wow-duration="2s">
                    <h4 class="xs-content-title why-choose-us-block">Multi Mobile Overlay</h4>
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/formats/multi_mobile_overlay-6.png' %}" alt="multi mobile overlay format">
                    </div>
                    <h5>Два баннера для мобильных устройств в верхней и нижней части экрана - верхний фиксируется
                        на 2 секунды, нижний закрывается крестиком</h5>
                    <hr>
                        <p>Размер оболочки: - сверху и снизу 300×100px</p>
                        <p>Размер баннеров адаптивный</p>
                        <p>Время закрытия настраивается</p>
                        <p>Количество показов настраивается</p>
                </div><!-- .why-choose-us-block END -->
            </div>
        </div>
    </div><!-- .container END -->
</section>
<!-- END formats section -->