{% load static %}

<!-- get free quote section -->
<section class="primary-bg xs-section-padding free-quote-area" data-delighter="start:0.3">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="text-center">
                    <h2 class="section-subtitle">Готовы к росту?</h2>
                    <a href="https://pub.adfinity.pro/register/?utm_source=site&utm_medium=invite&utm_campaign=mdigital">
                        <h5 class="section-title">Пройдите регистрацию на сайте нашего партнёра - <img src="{% static 'assets/images/partner/adfinity-logo.png' %}" alt="adfinity logo"></h5>
                    </a>
                </div>
                <!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <!--FAQ section-->
        <section class="faq-section xs-section-padding-faq">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <div class="faq-wrapper">
                            <div class="faq-item">
                                <div class="faq-question">
                                    <span>Как зарегистрироваться?</span>
                                    <button class="faq-toggle"><i class="plus-icon">+</i></button>
                                </div>
                                <div class="faq-answer">
                                    <p>- Для регистрации перейдите по <a href="https://pub.adfinity.pro/register/?utm_source=site&utm_medium=invite&utm_campaign=mdigital">ссылке
                                        </a>и заполните форму регистрации.</p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-question">
                                    <span>Какие преимущества я получу после регистрации?</span>
                                    <button class="faq-toggle"><i class="plus-icon">+</i></button>
                                </div>
                                <div class="faq-answer">
                                    <p>- После регистрации вы получите доступ к эксклюзивным предложениям и инструментам для роста вашего бизнеса.</p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-question">
                                    <span>Какие сайты принимаете?</span>
                                    <button class="faq-toggle"><i class="plus-icon">+</i></button>
                                </div>
                                <div class="faq-answer">
                                    <p>- В сутки сайт должен иметь не менее 2000 уникальных пользователей из России. Легальный контент, не нарушающий авторские права и законы РФ. Не монетизируем адалт, варез, гемблинг.</p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-question">
                                    <span>Сколько времени занимает модерация?</span>
                                    <button class="faq-toggle"><i class="plus-icon">+</i></button>
                                </div>
                                <div class="faq-answer">
                                    <p>- Сроки модерации зависят от партнеров. Как правило, это 2-3 дня. Можно начинать работу, если площадка прошла модерацию в РСЯ. Остальные сети подключим в процессе.</p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-question">
                                    <span>Какой размер комиссии?</span>
                                    <button class="faq-toggle"><i class="plus-icon">+</i></button>
                                </div>
                                <div class="faq-answer">
                                    <p>- Как правило, мы берём 10-15% от общего оборота — в зависимости от качества трафика, его стоимости и количества. Всё очень индивидуально. Пришлите адрес сайта, чтобы мы могли дать более точный ответ.
                                        <br>
                                        - В любом случае, даже с учётом комиссии, вы будете зарабатывать больше, чем с обычным рекламным блоком.</p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-question">
                                    <span>Как влияют ваши скрипты на оценку в Google PageSpeedInsights?</span>
                                    <button class="faq-toggle"><i class="plus-icon">+</i></button>
                                </div>
                                <div class="faq-answer">
                                    <p>- Рекламные блоки и скрипты, необходимые для их работы, немного замедляют скорость работы сайта.
                                        <br>
                                        Мы не можем повлиять на оценку PageSpeed, но воздействие наших скриптов на уровне с оригинальными блоками от РСЯ и AdSense.</p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-question">
                                    <span>Какая реклама будет показываться в ваших блоках?</span>
                                    <button class="faq-toggle"><i class="plus-icon">+</i></button>
                                </div>
                                <div class="faq-answer">
                                    <p>- Мы работаем только с топовыми сетями и проверенными партнёрами. Чаще всего в блоках появляется реклама от Яндекс, MyTarget, Between, Mediasniper, OTM, Buzzoola и других рекламных сетей.
                                        <br>
                                        - Вся реклама на 100% соответствует законодательству РФ.</p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-question">
                                    <span>На моём сайте уже стоят блоки от РСЯ или Adsense. Их нужно будет убрать?</span>
                                    <button class="faq-toggle"><i class="plus-icon">+</i></button>
                                </div>
                                <div class="faq-answer">
                                    <p>- Блоки убирать не обязательно, всё будет работать параллельно.</p>
                                </div>
                            </div>
                            <!-- Добавьте дополнительные вопросы и ответы здесь -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end FAQ section -->

    </div><!-- .row END -->
    <div class="parallax-icon-wraper">
        <img src="{% static 'assets/images/hand-bloom.png' %}" class="parallax-icon icon-one" alt="hand-bloom">
        <img src="{% static 'assets/images/chart.png' %}" class="parallax-icon icon-two" alt="chart">
    </div>
</section>
<!-- end get free quo -->

