<div class="zoom-anim-dialog mfp-hide modal-searchPanel" id="modal-popup-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="xs-search-panel">
                <form action="{% url 'search' %}" method="get" class="xs-search-group">
                    <input type="search" class="form-control" name="q" id="search" placeholder="Поиск по публикациям...">
                    <button type="submit" class="search-button"><i class="icon icon-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>