<!-- testimonials section (Отзывы клиентов) -->
<section class="xs-section-padding primary-bg testimonial-section" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
                    <h2 class="section-subtitle">О нас</h2>
                    <h3 class="section-title ">Тёплые слова от клиентов</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="testimonial-slider-preview owl-carousel" id="sync1">
                    <div class="single-testimonial-preview">
                        <p>“ "MDigital разработали для нашего бизнеса Telegram бота, который превзошел наши ожидания. Они проявили высокий профессионализм, оперативность и гибкость в реагировании на наши требования. Спасибо за отличную работу!" ”</p>
                        <span class="border-line"></span>
                    </div><!-- .single-testimonial-preview END -->
                    <div class="single-testimonial-preview">
                        <p>“ Работа с MDigital была приятным опытом для нашей компании. Они не только разработали для нас Python веб-приложение, но и предоставили отличную поддержку и консультации на протяжении всего процесса. Рекомендую их всем, кто ищет надежного партнера в сфере IT-разработки. ”</p>
                        <span class="border-line"></span>
                    </div><!-- .single-testimonial-preview END -->
                    <div class="single-testimonial-preview">
                        <p>“ MDigital помогли нам значительно увеличить прибыль с помощью их арбитража трафика. Их профессионализм и экспертное понимание рынка позволили нам оптимизировать наши маркетинговые усилия и добиться значительного роста конверсии. Очень довольны результатами и с нетерпением ждем продолжения сотрудничества! ”</p>
                        <span class="border-line"></span>
                    </div><!-- .single-testimonial-preview END -->
                    <div class="single-testimonial-preview">
                        <p>“ MDigital оказались идеальным партнером для нашего проекта. Их команда профессионалов разработала для нас высококачественное веб-приложение для Telegram, которое точно соответствует нашим требованиям. Они были отзывчивы к нашим запросам, предоставляли четкие обновления и всегда были на связи. Спасибо за отличное сотрудничество! ”</p>
                        <span class="border-line"></span>
                    </div><!-- .single-testimonial-preview END -->
                </div>
                <div class="testimonial-slider-thumb owl-carousel" id="sync2">
                    <div class="single-bio-thumb">
                        <div class="bio-image">
                            <img src="{% static 'assets/images/testimonial/testimonial-1.jpg' %}" alt="">
                        </div>
                        <div class="bio-info">
                            <h4 class="small">Иван Соколов </h4>
                            <p>"Elis-Group"</p>
                        </div>
                    </div><!-- .single-bio-thumb END -->
                    <div class="single-bio-thumb">
                        <div class="bio-image">
                            <img src="{% static 'assets/images/testimonial/testimonial-2.jpg' %}" alt="">
                        </div>
                        <div class="bio-info">
                            <h4 class="small">Дарья Светличная</h4>
                            <p>"Acuamarine"</p>
                        </div>
                    </div><!-- .single-bio-thumb END -->
                    <div class="single-bio-thumb">
                        <div class="bio-image">
                            <img src="{% static 'assets/images/testimonial/testimonial-3.jpg' %}" alt="">
                        </div>
                        <div class="bio-info">
                            <h4 class="small">Юлия Петренко</h4>
                            <p>"Друзья"</p>
                        </div>
                    </div><!-- .single-bio-thumb END -->
                    <div class="single-bio-thumb">
                        <div class="bio-image">
                            <img src="{% static 'assets/images/testimonial/testimonial-4.jpg' %}" alt="">
                        </div>
                        <div class="bio-info">
                            <h4 class="small">Павел Груздь</h4>
                            <p>"AllGiveBank"</p>
                        </div>
                    </div><!-- .single-bio-thumb END -->
                </div>
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
    <div class="big-watermark-icon">
        <i class="icon icon-quote"></i>
    </div>
</section>
<!-- END testimonials section-->