{% load menu_tags %}

<nav class="xs-menus align-to-right">
    <div class="nav-header">
        <a class="nav-brand" href="/"></a>
        <div class="nav-toggle"></div>
    </div>
    <div class="nav-menus-wrapper">
        <ul class="nav-menu align-to-right">
            <li><a href="#">НАПРАВЛЕНИЯ</a>
                <ul class="nav-dropdown xs-icon-menu clearfix">
                    <li class="single-menu-item">
                        <a href="{% url 'tg_development' %}"><i class="icon icon-dart-board"></i> Разработка Telegram</a>
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'webdev' %}"><i class="icon icon-like"></i> Web Разработка</a>
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'monetization' %}"><i class="icon icon-stats-4"></i> Монетизация сайтов</a>
                    </li>
<!--                    <li class="single-menu-item">-->
<!--                        <a href="{% url 'analytics' %}"><i class="icon icon-stats-3"></i> Аналитика</a>-->
<!--                    </li>-->
<!--                    <li class="single-menu-item">-->
<!--                        <a href="{% url 'support' %}"><i class="icon icon-envelope2"></i> Сопровождение</a>-->
<!--                    </li>-->
                </ul>
            </li>

            <li><a href="#">О НАС</a>
                <ul class="nav-dropdown xs-icon-menu clearfix">
                    <li class="single-menu-item">
                        <a href="{% url 'about' %}"><i class="icon icon-briefcase"></i>Компания</a>
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'team' %}"><i class="icon icon-users"></i>Команда</a>
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'career' %}"><i class="icon icon-line-chart"></i>Карьера</a>
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'case_grid' %}"><i class="icon icon-presentation"></i>Проекты</a>
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'contacts' %}"><i class="icon icon-agenda3"></i>Контакты</a>
                    </li>
                </ul>
            </li>

            <!-- Menu - Blog -->
            <li><a href="#">БЛОГ</a>
                <ul class="nav-dropdown xs-icon-menu clearfix">
                    <li class="single-menu-item">
                        {% get_categories %}
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'post_grid' %}"><i class="icon icon-file-2"></i>Все посты</a>
                    </li>
                </ul>
            </li>
            <!-- ENDmenu - Blog -->

            <li>
                <a href="{% url 'contacts' %}">КОНТАКТЫ</a>
            </li>
        </ul>
        <a href="#" class="consultation-menu-button" id="open-consultation-modal">КОНСУЛЬТАЦИЯ</a>
    </div>
</nav>

<!-- Modal Structure -->
<div id="consultation-modal" class="modal">
        <div class="modal-content">
            <span class="close-modal" id="close-consultation-modal">&times;</span>
            <h2>Заявка на консультацию</h2>
            <form id="consultation-form" method="post" action="{% url 'consultation_submit' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="modal-name">Имя:</label>
                    <input type="text" id="modal-name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="modal-phone">Телефон:</label>
                    <input type="text" id="modal-phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="modal-preferred-time">Время для связи:</label>
                    <input type="text" id="modal-preferred-time" name="preferred_time" class="form-control datepicker" required>
                </div>
                 <div class="form-check">
                                <label class="form-check-label">
                                    {{ form.agree_to_privacy_policy }}
                                    <span class="checkbox-text-dark">Соглашаюсь с</span>
                                    <a href="{% url 'privacy_policy' %}" target="_blank" class="external-link">правилами</a>
                                    <span class="checkbox-text-dark">  обработки персональных данных</span>
                                </label>
                                {% if form.agree_to_privacy_policy.errors %}
                                    <div class="invalid-feedback">
                                        {{ form.agree_to_privacy_policy.errors }}
                                    </div>
                                {% endif %}
                            </div>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>