{% load menu_tags %}

<nav class="xs-menus align-to-right">
    <div class="nav-header">
        <a class="nav-brand" href="/"></a>
        <div class="nav-toggle"></div>
    </div>
    <div class="nav-menus-wrapper">
        <ul class="nav-menu align-to-right">

            <li><a href="#">СТРАНИЦЫ</a>
                <div class="megamenu-panel xs-icon-menu">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="single-menu-item">
                                <a href="{% url 'about' %}"><i class="icon icon-briefcase"></i>О нас</a>
                            </div>
                            <div class="single-menu-item">
                                <a href="{% url 'projects' %}"><i class="icon icon-line-chart"></i>Проекты</a>
                            </div>
                            <div class="single-menu-item">
                                <a href="{% url 'contacts' %}"><i class="icon icon-agenda3"></i>Контакты</a>
                            </div>
                            <div class="single-menu-item">
                                <a href="{% url 'career' %}"><i class="icon icon-users"></i>Карьера</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-menu-item">
                                <a href="{% url 'monetization' %}"><i class="icon icon-folder2"></i>Монетизация сайтов</a>
                            </div>
                            <div class="single-menu-item">
                                <a href="{% url 'tg_development' %}"><i class="icon icon-chat"></i>Разработка Telegram</a>
                            </div>
                            <div class="single-menu-item">
                                <a href="{% url 'web_development' %}"><i class="icon icon-business2"></i>Web Разработка</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-menu-item">
                                <a href="{% url 'analytics' %}"><i class="icon icon-padlock-1"></i>Аналитика</a>
                            </div>
                            <div class="single-menu-item">
                                <a href="{% url 'support' %}"><i class="icon icon-direction"></i>Сопровождение</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li><a href="#">НАПРАВЛЕНИЯ</a>
                <ul class="nav-dropdown xs-icon-menu clearfix">
                    <li class="single-menu-item">
                        <a href="{% url 'monetization' %}"><i class="icon icon-stats-4"></i> Монетизация сайтов</a>
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'tg_development' %}"><i class="icon icon-dart-board"></i> Разработка Telegram</a>
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'web_development' %}"><i class="icon icon-like"></i> Web Разработка</a>
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'analytics' %}"><i class="icon icon-stats-3"></i> Аналитика</a>
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'support' %}"><i class="icon icon-envelope2"></i> Сопровождение</a>
                    </li>
                </ul>
            </li>

            <!-- Menu - Blog -->
            <li><a href="#">БЛОГ</a>
                <ul class="nav-dropdown xs-icon-menu clearfix">
                    <li class="single-menu-item">
                        {% get_categories %}
                    </li>
                    <li class="single-menu-item">
                        <a href="{% url 'post_grid' %}"><i class="icon icon-file-2"></i>Все посты</a>
                    </li>
                </ul>
            </li>
            <!-- ENDmenu - Blog -->

<!--            <li>-->
<!--                <a href="{% url 'about' %}">О НАС</a>-->
<!--            </li>-->

            <li>
                <a href="{% url 'contacts' %}">КОНТАКТЫ</a>
            </li>
        </ul>
    </div>
</nav>