{% load static %}

<!-- why choose section -->
<section class="why-choose-section xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
<!--                    <h2 class="section-subtitle">Арбитраж трафика</h2>-->
<!--                    <h3 class="section-title ">Динамическая монетизация вашего сайта</h3>-->
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-block wow fadeInUp">
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/features/features-1.png' %}" alt="выгодные условия">
                    </div>
                    <h4 class="xs-content-title">Технология <br>Header Bidding</h4>
                    <p>За каждый показ на вашем сайте торгуются 25 рекламных сетей в одном аукционе</p>
                </div><!-- .why-choose-us-block END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-block wow fadeInUp" data-wow-duration="1.5s">
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/features/features-2.png' %}" alt="increase profitability">
                    </div>
                    <h4 class="xs-content-title">Повышайте доходность <br> на 40%</h4>
                    <p>Делегируйте монетизацию нам и следите за ростом дохода в понятном дашборде</p>
                </div><!-- .why-choose-us-block END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-block wow fadeInUp" data-wow-duration="2s">
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/features/features-3.png' %}" alt="wide choice of formats">
                    </div>
                    <h4 class="xs-content-title">Пользуйтесь широким выбором форматов</h4>
                    <p>Текстово-графические блоки, <br> баннеры, видео и эксклюзивные форматы</p>
                </div><!-- .why-choose-us-block END -->
            </div>
        </div>
    </div><!-- .container END -->
</section>
<!-- END why choose section -->