{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- 404 section -->
<section class="xs-section-padding" data-scrollax-parent="true">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <div class="content-404">
                    <h2 class="title-404">Упс.. <span>Извините!</span> <br> Запрашиваемая страница не может быть найдена!</h2>
                    <p>Либо что-то пошло не так, либо страница больше не существует.</p>
                    <a href="/" class="btn btn-primary">На главную</a>
                </div>
            </div>
<!--            <div class="col-lg-8 mx-auto text-center">-->
<!--                <div class="img-404">-->
<!--                    <img src="{% static 'assets/images/404.svg' %}" data-scrollax="properties: { translateY: '-50%' }" alt="">-->
<!--                </div>-->
<!--            </div>-->
        </div><!-- .row END -->
    </div><!-- .container END -->
</section><!-- end 404 section -->

{% endblock content %}
