{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Company info section -->
{% include 'blog/includes/about/history_about.html' %}
<!-- Company info section -->

<!-- working process section -->
{% include 'blog/includes/about/products_about.html' %}
<!-- END working process section -->

<!-- working process section -->
{% include 'blog/includes/about/benefits_about.html' %}
<!-- END working process section -->

<!-- working process section -->
{% include 'blog/includes/about/principes_about.html' %}
<!-- END working process section -->

<!-- working process section -->
{% include 'blog/includes/about/pricing_about.html' %}
<!-- END working process section -->

<!-- working process section -->
{% include 'blog/includes/about/stop_list_about.html' %}
<!-- END working process section -->

<!-- working process section -->
{% include 'blog/includes/about/form_about.html' %}
<!-- END working process section -->

{% endblock content %}