{% extends 'base.html' %}

{% block content %}
<!-- contact info start -->
<section class="xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="xs-heading text-center style4">
                    <span class="line"></span>
                    <p>Мы рады общению с нашими клиентами и партнерами. <br>Если у вас возникли вопросы, предложения или хотите узнать больше о наших услугах,
                        <br>пожалуйста, не стесняйтесь связаться с нами. <br>Готовы помочь вам воплотить ваши идеи в реальность</p>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="contact-info-wraper">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-contact-info">
                                <div class="round-icon">
                                    <i class="icon icon-map-marker2"></i>
                                </div><!-- .round-icon END -->
                                <a href="https://yandex.ru/maps/org/mdigital/128234723196/?ll=38.279200%2C46.680868&z=16" target="_blank" class="info-content">353680 г.Ейск, Россия <br>Мичурина ул., 16/1, Этаж 2</a>
                                </div><!-- .single-contact-info END -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-contact-info">
                                <div class="round-icon">
                                    <i class="icon icon-phone-call3"></i>
                                </div><!-- .round-icon END -->
                                <a href="tel:+7%20(902)%407-7776" class="info-content">+7 (902) 407-7776</a>
                            </div><!-- .single-contact-info END -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-contact-info">
                                <div class="round-icon">
                                    <i class="icon icon-envelope4"></i>
                                </div><!-- .round-icon END -->
                                <a href="mailto:partners@mdigital.su" class="info-content">partners@mdigital.su</a>
                            </div><!-- .single-contact-info END -->
                        </div>
                    </div><!-- .row END -->
                </div><!-- .contact-info-wraper END -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section><!-- end contact info -->

<!-- map area start -->
<div class="map-area">
    <div class="container">
        <div class="xs-map map" id="map-1" style="height: 400px;"></div>
    </div><!-- .container END -->
</div><!-- end map area -->

<!-- contact start -->
<section class="xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-8 mx-auto">
                <div class="xs-heading text-center style4">
                    <h5 class="section-title">Форма обратной связи</h5>
                    <span class="line"></span>
                    <p>Мы ценим ваше мнение. <br>Если у вас есть предложения или замечания по поводу нашей работы, пожалуйста, напишите нам.
                        <br>Мы всегда рады помочь и ответить на ваши вопросы.</p>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="contact-from-wrapper wow fadeIn">
                    <form action="{% url 'contact_form_submit' %}" class="xs-contact-form" method="post" id="xs-contact-form">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Имя *">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="email *">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="tel" name="phone" id="phone" class="form-control" placeholder="Телефон *">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="subject" id="subject" class="form-control" placeholder="Тема сообщения *">
                                </div>
                            </div>
                        </div><!-- .row END -->
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" placeholder="Текст сообщения *" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-check">
							<input type="checkbox" class="form-check-input" id="agree_to_privacy_policy" name="agree_to_privacy_policy" required>
							<label class="form-check-label">
								<span class="checkbox-text-dark">Соглашаюсь с</span>
                                <a href="{% url 'privacy_policy' %}" target="_blank" class="external-link">правилами</a>
                                <span class="checkbox-text-dark">  обработки персональных данных</span>
                        	</label>
						</div>
                        <div class="text-center">
                            <input type="submit" name="submit" value="Отправить" class="btn btn-primary style2" id="xs_contact_submit">
                        </div>
                        <!-- Поле вывода сообщений пользователю -->
                        <div id="xs-form-message" class="xs-form-message"></div>
                    </form><!-- .xs-from 3xs-contact-form END -->
                </div><!-- .contact-from-wraper END -->
            </div>
            <!-- Модальное окно для политики конфиденциальности -->
        {% include 'blog/includes/privacy_policy_modal.html' %}
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- end contact -->

{% endblock content %}
