{% extends 'base.html' %}

{% block content %}
<!-- single blog section start -->
<section class="xs-section-padding blog-single-post-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="single-blog-post post-list format-gallery">
                    <div class="post-image">
                            <img src="{{ post.image.url|safe }}" alt="">
                    </div><!-- .post-image END -->
                    <div class="post-body">
                        <div class="entry-header">
                            <div class="entry-meta">
                                <span class="post-author"><a href="#"><i class="icon icon-user2"></i> {{ post.author }}</a></span>
                                <span class="post-publish-date"><a href="#"><i class="icon icon-calendar-1"></i> {{ post.create_at|date:"d M Y"}}</a></span>
                                <span class="post-cat"><a href="#"><i class="icon icon-folders"></i> {{ post.category }}</a></span>
                                <span class="post-comments"><a href="#"><i class="icon icon-chat-1"></i> 278</a></span>
                            </div>
                            <div class="entry-content">
                                <p>{{ post.text|slice:':360'}}</p>
                                <blockquote>
                                    <p>Арбитраж трафика - это не только о монетизации, это о взаимовыгодном обмене ценной информацией и ресурсами между платформами и пользователями, создающем эффективную экосистему в сети.</p>
                                </blockquote>
                                <p>{{ post.text|slice:'360:'}}</p>
                                <ul class="xs-list bullet">
                                    <li>A wonderful serenity has taken possession</li>
                                    <li>Of my entire soul, like these sweet mornings of spring which</li>
                                    <li>I enjoy with my whole heart.</li>
                                    <li>I am alone, and feel the charm of existence</li>
                                    <li>This spot, which was created For the bliss of souls like mine.</li>
                                    <li>I am so happy, my dear friend, so absorbed in</li>
                                </ul>
                            </div>
                            <div class="post-footer">
                                <div class="divider">
                                    <span class="border-divider"></span>
                                </div>
                                <div class="post-tags">
                                    <span class="icon icon-tags"></span>
                                    {% for tag in post.tag.all %}
                                    <a href="#">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                                <div class="social-share">
                                    <ul class="social-list version-2">
                                        <li class="title">Social Share</li>
                                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                        <li class="floating-btn-wraper">
                                            <a href="#" class="btn-floating">
                                                <span class="vertical-dots"></span>
                                            </a>
                                            <ul class="floating-icons-list social-list version-2">
                                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#" class="vimeo"><i class="fa fa-vimeo"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- .post-body END -->
                </div><!-- .single-blog-post .post-list .format-gallery END -->
                <div class="author-card">
                    <div class="author-header">
                        <h2 class="author-title">Meet Author</h2>
                        <span class="border-divider style-white"></span>
                    </div>
                    <div class="author-details media">
                        <div class="author-img">
                            <img src="assets/images/team/team-5.jpg" alt="">
                        </div>
                        <div class="author-bio">
                            <h3 class="author-name">Katy W.Perry</h3>
                            <h4 class="authr-designation">SEO Expert</h4>
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence</p>
                            <ul class="simple-social-list">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .author-card END -->
                <div class="post-navigation">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="post-previous">
                                <a href="blog-single.html" class="single-post-nav">
                                    <h3 class="post-nav-title icon-left"><i class="icon icon-arrow-left"></i> Previous Post</h3>
                                    <div class="media align-items-center">
                                        <img class="post-nav-img" src="assets/images/post-naviation-1.png" alt="">
                                        <h4 class="post-title">Twice profit than before you ever got in business</h4>
                                    </div>
                                </a><!-- .single-post-nav END -->
                            </div><!-- .post-previous END -->
                        </div>
                        <div class="col-md-6">
                            <div class="post-next">
                                <a href="blog-single.html" class="single-post-nav">
                                    <h3 class="post-nav-title icon-right"><i class="icon icon-arrow-right"></i> Next Post</h3>
                                    <div class="media align-items-center">
                                        <img class="post-nav-img" src="assets/images/post-naviation-2.png" alt="">
                                        <h4 class="post-title">Twice profit than before you ever got in business</h4>
                                    </div>
                                </a><!-- .single-post-nav END -->
                            </div><!-- .post-next END -->
                        </div>
                    </div><!-- .row END -->
                </div><!-- .post-navigation END -->


            </div>
            <div class="col-md-4">
                <!-- blog sidebar start -->
                <div class="blog-sidebar-wraper right-sidebar">
    <div class="widget widget-search">
        <form action="#" class="xs-serach style2" method="post">
            <div class="input-group">
                <input type="search" name="search" placeholder="Search Here...">
                <button class="search-btn"><i class="icon icon-search"></i></button>
            </div>
        </form>
    </div><!-- .widget .widget-search END -->

    <div class="widget widget-categories">
        <div class="widget-header">
            <h3 class="xs-title">Category</h3>
            <span class="border-divider"></span>
        </div>
        <ul class="list-group">
            <li>
                <a href="#">Search Engine Optimization </a>
                <span>(54)</span>
            </li>
            <li>
                <a href="#">Marketing </a>
                <span>(12)</span>
            </li>
            <li>
                <a href="#">Business Growth </a>
                <span>(02)</span>
            </li>
            <li>
                <a href="#">Site Ranking </a>
                <span>(18)</span>
            </li>
            <li>
                <a href="#">Growth Hacking</a>
                <span>(25)</span>
            </li>
            <li>
                <a href="#">Social Marketing</a>
                <span>(35)</span>
            </li>
        </ul>
    </div><!-- .widget .widget-categories END -->

    <div class="widget widget_popular_entries">
        <div class="widget-header">
            <h3 class="xs-title">Recent Post</h3>
            <span class="border-divider"></span>
        </div>
        <div class="widget-posts">
            <div class="widget-post media">
                <div class="post-thumb">
                    <img src="assets/images/sidebar/sidebar-latest-post-1.jpg" class="d-flex" alt="popular post image">
                </div>
                <div class="media-body">
                    <h4 class="entry-title">
                        <a href="blog-single.html">Twice profit than before you ever got in business</a>
                    </h4>
                </div>
            </div><!-- .widget-post END -->
            <div class="widget-post media">
                <div class="post-thumb">
                    <img src="assets/images/sidebar/sidebar-latest-post-2.jpg" class="d-flex" alt="popular post image">
                </div>
                <div class="media-body">
                    <h4 class="entry-title">
                        <a href="blog-single.html">Twice profit than before you ever got in business</a>
                    </h4>
                </div>
            </div><!-- .widget-post END -->
            <div class="widget-post media">
                <div class="post-thumb">
                    <img src="assets/images/sidebar/sidebar-latest-post-3.jpg" class="d-flex" alt="popular post image">
                </div>
                <div class="media-body">
                    <h4 class="entry-title">
                        <a href="blog-single.html">Twice profit than before you ever got in business</a>
                    </h4>
                </div>
            </div><!-- .widget-post END -->
            <div class="widget-post media">
                <div class="post-thumb">
                    <img src="assets/images/sidebar/sidebar-latest-post-4.jpg" class="d-flex" alt="popular post image">
                </div>
                <div class="media-body">
                    <h4 class="entry-title">
                        <a href="blog-single.html">Twice profit than before you ever got in business</a>
                    </h4>
                </div>
            </div><!-- .widget-post END -->
        </div><!-- .widget-posts END -->
    </div><!-- .widget .widget_popular_entries END -->

    <div class="widget widget-banner">
        <a href="https://themeforest.net/user/xpeedstudio/portfolio" target="_blank">
            <img src="assets/images/sidebar/banner.png" alt="">
        </a>
    </div><!-- .widget .widget-banner END -->

    <div class="widget widget-tag">
        <div class="widget-header">
            <h3 class="xs-title">TAGs</h3>
            <span class="border-divider"></span>
        </div>
        <div class="tag-lists">
            <a href="#">Business</a>
            <a href="#">Agency</a>
            <a href="#">City</a>
            <a href="#">Development</a>
            <a href="#">Corporate</a>
            <a href="#">Design</a>
            <a href="#">Trend</a>
        </div>
    </div><!-- .widget .widget-tag END -->
</div>                <!-- blog sidebar end -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section><!-- end single blog section -->

{% endblock content %}