{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- posts grid sidebar start -->
<section class="xs-section-padding blog-grid-sidebar-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row blog-inner-page">
                    {% for post in posts %}
                        <div class="col-md-6">
                            <div class="single-blog-post-thumb">
                                <div class="post-image">
                                    <img src="{{ post.image.url|safe }}" alt="">
                                </div>
                                <div class="post-body">
                                    <div class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="{% url 'post_single' slug=post.category.slug post_slug=post.slug %}">{{ post.title }}</a></h2>
                                        <div class="entry-meta">
                                            <span class="meta-date"><i class="icon icon-clock"></i> {{ post.create_at }} </span>
                                        </div>
                                        <div class="entry-content">
                                            <p>{{ post.text|truncatewords:20|safe }} </p>
                                        </div>

                                        <div class="btn-wraper">
                                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary icon-right">Читать далее...<i class="icon icon-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .single-blog-post-thumb END -->
                        </div>
                    {% endfor %}
                    <div class="col-md-12">
                            <!-- pagination -->
                        <ul class="pagination">
                            {% if posts.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-hidden="true">&laquo;</a>
                                </li>
                            {% endif %}

                            {% for i in posts.paginator.page_range %}
                                {% if posts.number == i %}
                                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if posts.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-hidden="true">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- end pagination -->
                    </div>
                </div><!-- .row END -->
            </div>
            <div class="col-md-4">
                <!-- blog sidebar start -->
                <div class="blog-sidebar-wraper right-sidebar">

    {% include 'blog/includes/widget_search_posts.html' %}
    <!-- .widget .widget-search END -->

    {% include 'blog/includes/widget_categories.html' %}
    <!-- .widget .widget-categories END -->

    {% include 'blog/includes/widget_latest_posts.html' %}
    <!-- .widget .widget_popular_entries END -->

    {% include 'blog/includes/widget_banner_adfinity.html' %}
    <!-- .widget .widget-banner END -->

</div>                <!-- blog sidebar end -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- blog grid sidebar end -->

{% endblock content %}
