{% extends 'base.html' %}
{% load static %}

<!--CKEditor content-->
<link rel="stylesheet" href="{% static 'assets/css/content-styles.css' %}" type="text/css">

{% block content %}
<!-- single blog section start -->
<section class="xs-section-padding blog-single-post-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- .single-blog-post START -->
                <div class="single-blog-post post-list format-gallery">
                    <div class="post-image">
                            <img src="{{ post.image.url|safe }}" alt="">
                    </div><!-- .post-image END -->
                    <div class="text-lg-left"><h2 class="entry-title">{{ post.title|safe }}</h2></div>
                    <div class="post-body">
                        <div class="entry-header">
                        <div class="my-ckeditor">
                                <p>{{ post.text|safe }}</p>
                            </div>
                            <div class="entry-meta">
                                <span class="post-author"><a href="#"><i class="icon icon-user2"></i> {{ post.author }}</a></span>
                                <span class="post-publish-date"><a href="#"><i class="icon icon-calendar-1"></i> {{ post.create_at|date:"d M Y"}}</a></span>
                                <span class="post-cat"><a href="#"><i class="icon icon-folders"></i> {{ post.category }}</a></span>
                            </div>


                            <div class="post-footer">
                                <div class="divider">
                                    <span class="border-divider"></span>
                                </div>
                                <div class="post-tags">
                                    <span class="icon icon-tags"></span>
                                    {% for tag in post.tag.all %}
                                    <a href="#">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                                <div class="social-share">
                                    <ul class="social-list version-2">
                                        <li class="title">Поделиться в </li>
                                        <li><a href="#" class="twitter" id="share-tg" target="_blank" rel="noopener noreferrer"><i class="fa fa-telegram"></i></a></li>
                                        <li><a href="#" class="linkedin" id="share-vk" target="_blank" rel="noopener noreferrer"><i class="fa fa-vk"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- .post-body END -->
                </div>
                <!-- .single-blog-post .post-list .format-gallery END -->

                <!-- .author-card START -->
               <div class="author-card">
                    <div class="author-header">
                        <h2 class="author-title">Колонка автора</h2>
                        <span class="border-divider style-white"></span>
                    </div>
                    <div class="author-details media">
                        <div class="author-img">
                            <!-- Получаем профиль пользователя -->
                            {% with profile=post.author.userprofile %}
                                <!-- Получаем сотрудника, связанного с профилем пользователя -->
                                {% with employee=profile.employee %}
                                    <img src="{{ employee.photo.url }}" alt="{{ employee.first_name }} {{ employee.last_name }}">
                                {% endwith %}
                            {% endwith %}
                        </div>
                        <div class="author-bio">
                            <!-- Получаем профиль пользователя -->
                            {% with profile=post.author.userprofile %}
                                <!-- Получаем сотрудника, связанного с профилем пользователя -->
                                {% with employee=profile.employee %}
                                    <h3 class="author-name">{{ employee.first_name }} {{ employee.last_name }}</h3>
                                    <h4 class="authr-designation">{{ employee.position }}</h4>
                                    <p>{{ employee.quote|safe }}</p>
                                    <ul class="simple-social-list">
                                        <li><a href="{{ employee.telegram_id }}" target="_blank"><i class="fa fa-telegram" ></i></a></li>
                                        <li><a href="{{ employee.vk_id }}" target="_blank"><i class="fa fa-vk"></i></a></li>
                                    </ul>

                                    <!-- Здесь можете вывести дополнительные данные сотрудника, если они есть -->
                                {% endwith %}
                            {% endwith %}
                            <!-- Здесь можете вывести дополнительные данные профиля пользователя, если они есть -->
                        </div>
                    </div>
                </div>
                <!-- .author-card END -->

                    <div class="post-navigation">
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="post-previous">
                {% if previous_post %}
                <a href="{{ previous_post.get_absolute_url }}" class="single-post-nav">
                    <h3 class="post-nav-title icon-left"><i class="icon icon-arrow-left"></i>Предыдущий</h3>
                    <div class="media align-items-center">
                        <div class="post-image-container">
                            <img class="post-nav-img" src="{{ previous_post.image.url }}" alt="{{ previous_post.title }}">
                        </div>
                        <h4 class="post-title">{{ previous_post.title }}</h4>
                    </div>
                </a><!-- .single-post-nav END -->
                {% endif %}
            </div><!-- .post-previous END -->
        </div>
        <div class="col-md-6">
            <div class="post-next">
                {% if next_post %}
                <a href="{{ next_post.get_absolute_url }}" class="single-post-nav">
                    <h3 class="post-nav-title icon-right"><i class="icon icon-arrow-right"></i>Следующий</h3>
                    <div class="media align-items-center">
                        <div class="post-image-container">
                            <img src="{{ next_post.image.url }}" class="post-nav-img" alt="{{ next_post.title }}">
                        </div>
                        <h4 class="post-title">{{ next_post.title }}</h4>
                    </div>
                </a><!-- .single-post-nav END -->
                {% endif %}
            </div><!-- .post-next END -->
        </div>
    </div><!-- .row END -->
</div><!-- .post-navigation END -->

            </div>
            <div class="col-md-4">
                <!-- blog sidebar start -->
                <div class="blog-sidebar-wraper right-sidebar">

    {% include 'blog/includes/widget_search_posts.html' %}
    <!-- .widget .widget-search END -->

    {% include 'blog/includes/widget_categories.html' %}
    <!-- .widget .widget-categories END -->

    {% include 'blog/includes/widget_latest_posts.html' %}
    <!-- .widget .widget_popular_entries END -->

    {% include 'blog/includes/widget_banner_adfinity.html' %}
    <!-- .widget .widget-banner END -->

</div><!-- blog sidebar end -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- end single blog section -->

{% endblock content %}