{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="quote-block">
                <p>Боты — это неотъемлемая часть экосистемы Telegram. Они предоставляют пользователям широкий спектр возможностей, от автоматизации задач до взаимодействия с различными сервисами.</p>
                <div class="d-none d-md-block text-center">
                    <figure>
                        <img src="{% static 'assets/images/tg_bots/pavel_durov.png' %}" alt="Фото Павла Дурова" class="img-fluid desktop-img">
                        <figcaption>Павел Дуров</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-12 d-block d-md-none">
            <figure class="text-center">
                <img src="{% static 'assets/images/tg_bots/pavel_durov.png' %}" alt="Фото Павла Дурова" class="img-fluid mobile-img">
                <figcaption>Павел Дуров</figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <!-- Индикаторы -->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
            <li data-target="#carouselExampleControls" data-slide-to="3"></li>
            <li data-target="#carouselExampleControls" data-slide-to="4"></li>
            <li data-target="#carouselExampleControls" data-slide-to="5"></li>
            <li data-target="#carouselExampleControls" data-slide-to="6"></li>
            <li data-target="#carouselExampleControls" data-slide-to="7"></li>
            <li data-target="#carouselExampleControls" data-slide-to="8"></li>
            <li data-target="#carouselExampleControls" data-slide-to="9"></li>
            <li data-target="#carouselExampleControls" data-slide-to="10"></li>
        </ol>
        <div class="carousel-inner">
            <!-- 1 Создание клиентских баз -->
            <div class="carousel-item active custom-carousel">
                <div class="row flex-column flex-md-row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 text-container order-md-2">
                        <h5>Создание клиентских баз</h5>
                        <img class="img-fluid d-block d-md-none mt-3"
                             src="{% static 'assets/images/tg_bots/clients_base.jpg' %}" alt="Clients-base">
                        <h4><span style="color: #008dd2;">1</span><span style="color: gray;">/9</span></h4>
                        <p>- Чат-боты умеют собирать и хранить внутри себя клиентскую базу с возможностью выгрузки
                            в таблицу Excel</p>
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal"
                                data-target="#costCalculationModal">Рассчитать стоимость</button>
                    </div>
                    <div class="col-12 col-md-4 d-none d-md-flex justify-content-center order-md-1">
                        <img class="img-fluid" src="{% static 'assets/images/tg_bots/clients_base.jpg' %}"
                             alt="Clients-base">
                    </div>
                </div>
            </div>
            <!-- 2 Рассылки -->
            <div class="carousel-item custom-carousel">
                <div class="row flex-column flex-md-row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 text-container order-md-2">
                        <h5>Рассылки</h5>
                        <img class="img-fluid d-block d-md-none mt-3"
                             src="{% static 'assets/images/tg_bots/sending.jpg' %}" alt="Sending">
                         <h4><span style="color: #008dd2;">2</span><span style="color: gray;">/9</span></h4>
                        <p>
                            - Запускайте рассылки по своей базе и ее отдельным сегментам<br>
                            - Гибкие настройки рассылок: запускайте рассылки вручную или планируйте их к отправке в
                            заданное время<br>
                            - Задавайте сценарии отправки цепочек сообщений
                        </p>
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal"
                                data-target="#costCalculationModal">Рассчитать стоимость</button>
                    </div>
                    <div class="col-12 col-md-4 d-none d-md-flex justify-content-center order-md-1">
                       <img class="img-fluid"
                             src="{% static 'assets/images/tg_bots/sending.jpg' %}" alt="Sending">
                    </div>
                </div>
            </div>
            <!-- 3 Прием заявок -->
            <div class="carousel-item custom-carousel">
                <div class="row flex-column flex-md-row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 text-container order-md-2">
                        <h5>Прием заявок</h5>
                        <img class="img-fluid d-block d-md-none mt-3"
                             src="{% static 'assets/images/tg_bots/orders.jpg' %}" alt="Orders">
                        <h4><span style="color: #008dd2;">3</span><span style="color: gray;">/9</span></h4>
                        <p>
                            - Чат-боты отвечают на запросы пользователей принимают заявки от потенциальных клиентов
                            и передают их непосредственно сотрудникам отдела продаж (в том числе через CRM-системы)
                        </p>
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal"
                                data-target="#costCalculationModal">Рассчитать стоимость</button>
                    </div>
                    <div class="col-12 col-md-4 d-none d-md-flex justify-content-center order-md-1">
                        <img class="img-fluid"
                             src="{% static 'assets/images/tg_bots/orders.jpg' %}" alt="Orders">
                    </div>
                </div>
            </div>
            <!-- 4 Интернет-магазин -->
            <div class="carousel-item custom-carousel">
                <div class="row flex-column flex-md-row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 text-container order-md-2">
                        <h5>Интернет-магазин</h5>
                        <img class="img-fluid d-block d-md-none mt-3"
                             src="{% static 'assets/images/tg_bots/shop_bot.jpg' %}" alt="Internet-shop">
                        <h4><span style="color: #008dd2;">4</span><span style="color: gray;">/9</span></h4>
                        <p>
                            - Совершайте автоматические продажи внутри чат-бота без участия сотрудников <br>
                            Например: <br>
                            - Пользователь заинтересовался вашей онлайн-библиотекой, зашел в каталог книг, выбрал
                            подходящую и положил ее в корзину. Затем оформил заказ, сразу произвел оплату и моментально
                            получил электронную версию книги на свой смартфон <br>
                            - Бот сам предложил ассортимент товаров, помог оформить заказ, принял оплату и выдал нужный
                            товар клиенту.
                        </p>
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal"
                                data-target="#costCalculationModal">Рассчитать стоимость</button>
                    </div>
                    <div class="col-12 col-md-4 d-none d-md-flex justify-content-center order-md-1">
                        <img class="img-fluid"
                             src="{% static 'assets/images/tg_bots/shop_bot.jpg' %}" alt="Internet-shop">
                    </div>
                </div>
            </div>
            <!-- 5 Удержание и возврат -->
            <div class="carousel-item custom-carousel">
                <div class="row flex-column flex-md-row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 text-container order-md-2">
                        <h5>Удержание и возврат</h5>
                        <img class="img-fluid d-block d-md-none mt-3"
                             src="{% static 'assets/images/tg_bots/retention_return.jpg' %}" alt="Retention_return">
                        <h4><span style="color: #008dd2;">5</span><span style="color: gray;">/9</span></h4>
                        <p>
                            - В бот можно "зашить" полноценную программу лояльности, бонусную систему или
                            систему мотивации сотрудников <br>
                            - Тем самым бот будет удерживать и возвращать существующих клиентов, а также привлекать
                            новых без дополнительных трат на рекламу
                        </p>
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal"
                                data-target="#costCalculationModal">Рассчитать стоимость</button>
                    </div>
                    <div class="col-12 col-md-4 d-none d-md-flex justify-content-center order-md-1">
                        <img class="img-fluid"
                             src="{% static 'assets/images/tg_bots/retention_return.jpg' %}" alt="Retention_return">
                    </div>
                </div>
            </div>
            <!-- 6 Запись онлайн / бронирование -->
            <div class="carousel-item custom-carousel">
                <div class="row flex-column flex-md-row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 text-container order-md-2">
                        <h5>Запись онлайн / бронирование</h5>
                        <img class="img-fluid d-block d-md-none mt-3"
                             src="{% static 'assets/images/tg_bots/booking.jpg' %}" alt="Booking">
                        <h4><span style="color: #008dd2;">6</span><span style="color: gray;">/9</span></h4>
                        <p>
                            - Бот умеет записывать онлайн на услуги в салоны красоты, бронировать столики в ресторанах и
                            кафе, вызывать, например, администраторов, официантов и кальянщиков <br>
                            - Данный инструмент применим в любых сферах, где идет прямой контакт клиента с представителем
                            компании <br>
                            - Масштабы применения ботов в бизнесе по факту безграничны
                        </p>
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal"
                                data-target="#costCalculationModal">Рассчитать стоимость</button>

                    </div>
                    <div class="col-12 col-md-4 d-none d-md-flex justify-content-center order-md-1">
                        <img class="img-fluid"
                             src="{% static 'assets/images/tg_bots/booking.jpg' %}" alt="Booking">
                    </div>
                </div>
            </div>
            <!-- 7 Автоматизированные воронки продаж -->
            <div class="carousel-item custom-carousel">
                <div class="row flex-column flex-md-row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 text-container order-md-2">
                        <h5>Автоматизированные воронки продаж</h5>
                        <img class="img-fluid d-block d-md-none mt-3"
                             src="{% static 'assets/images/tg_bots/sales_funnel.jpg' %}" alt="Sales_funnel">
                        <h4><span style="color: #008dd2;">7</span><span style="color: gray;">/9</span></h4>
                        <p>
                            - Создавайте автоматизированные сценарии общения с подписчиками и клиентами, плавно
                            подталкивая их к целевым действиям (оставить заявку, совершить покупку и др) <br>
                            - Помогите своему пользователю пройти весь путь клиента
                        </p>
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal"
                                data-target="#costCalculationModal">Рассчитать стоимость</button>
                    </div>
                    <div class="col-12 col-md-4 d-none d-md-flex justify-content-center order-md-1">
                        <img class="img-fluid"
                             src="{% static 'assets/images/tg_bots/sales_funnel.jpg' %}" alt="Sales_funnel">
                    </div>
                </div>
            </div>
            <!-- 8 Прием платежей 24/7 -->
            <div class="carousel-item custom-carousel">
                <div class="row flex-column flex-md-row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 text-container order-md-2">
                        <h5>Прием платежей 24/7</h5>
                        <img class="img-fluid d-block d-md-none mt-3"
                             src="{% static 'assets/images/tg_bots/pay.jpg' %}" alt="Paying">
                        <h4><span style="color: #008dd2;">8</span><span style="color: gray;">/9</span></h4>
                        <p>
                            - Чат-боты принимают платежи в любое время дня и ночи, 365 дней в году <br>
                            - После подтверждения платежа бот совершает целевое действие (например, высылает
                            онлайн-продукт клиенту, либо формирует и отправляет заявку на склад или в отдел логистики)
                        </p>
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal"
                                data-target="#costCalculationModal">Рассчитать стоимость</button>
                    </div>
                    <div class="col-12 col-md-4 d-none d-md-flex justify-content-center order-md-1">
                        <img class="img-fluid"
                             src="{% static 'assets/images/tg_bots/pay.jpg' %}" alt="Paying">
                    </div>
                </div>
            </div>
            <!-- 9 Автоматизация рутинных процессов -->
            <div class="carousel-item custom-carousel">
                <div class="row flex-column flex-md-row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 text-container order-md-2">
                        <h5>Автоматизация рутинных процессов</h5>
                        <img class="img-fluid d-block d-md-none mt-3"
                             src="{% static 'assets/images/tg_bots/automation_processes.jpg' %}"
                             alt="Automation_processes">
                        <h4><span style="color: #008dd2;">9</span><span style="color: gray;">/9</span></h4>
                        <p>
                            - Чат-боты автоматизируют рутинные процессы коммуникации, высвобождая драгоценное время
                            сотрудников компании <br>
                            - Например, бот может в автоматическом режиме поздравлять клиентов с днем рождения и
                            приглашать отметить именно в вашем заведении, что в среднем может увеличить выручку компании
                            на 30% в год <br>
                            - Бота можно научить отвечать практически на любые вопросы клиентов
                        </p>
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal"
                                data-target="#costCalculationModal">Рассчитать стоимость</button>
                    </div>
                    <div class="col-12 col-md-4 d-none d-md-flex justify-content-center order-md-1">
                        <img class="img-fluid"
                             src="{% static 'assets/images/tg_bots/automation_processes.jpg' %}"
                             alt="Automation_processes">
                    </div>
                </div>
            </div>
        </div>
        <!-- Элементы управления -->
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
</div>

<!-- Modal Window Start -->
<div class="modal fade" id="costCalculationModal" tabindex="-1" role="dialog" aria-labelledby="costCalculationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="costCalculationModalLabel">Рассчитать стоимость</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="costCalculationForm" data-url="{% url 'calculate_cost' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон</label>
                        <input type="text" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="niche">Ниша</label>
                        <input type="text" class="form-control" id="niche" name="niche" required>
                    </div>
                    <div class="form-group">
                        <label for="functionality">Желаемый функционал</label>
                        <textarea class="form-control" id="functionality" name="functionality"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
                <div id="successMessage" style="display:none;">
                    <p class="text-success"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Window End -->

{% endblock content %}
