<!doctype html>
<html class="no-js" lang="ru">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% include 'blog/includes/head.html' %}
</head>

<body>
    <!--[if lt IE 10]>
        {% include 'blog/includes/browserupgrade.html' %}
    <![endif]-->

    <!-- preloader -->
        {% include 'blog/includes/preloader.html' %}
    <!-- END preloader -->

    <div class="header">
        <!-- topBar section -->
        <div class="xs-top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Phone + email and Social icons -->
                        <div class="xs-top-bar-content">
                            <!-- Phone + email -->
                            <div class="xs-top-bar-info">
                                <ul class="xs-top-bar-info-list">
                                    <li>
                                        <p><a href="tel:+7%20(902)%407-7776"><i class="icon icon-phone3"></i>+7 (902) 407-7776</a></p>
                                    </li>
                                    <li>
                                        <a href="mailto:partners@mdigital.su"><i class="icon icon-email"></i>partners@mdigital.su</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Social icons -->
                            <div class="xs-top-bar-social">
                                <ul class="xs-list list-inline">
                                   <li><a href="https://t.me/MDigital_ibot"><i class="fa fa-telegram"></i></a></li>
                                </ul>
                            </div>
                        </div><!-- .xs-top-bar-content END -->
                    </div>
                </div><!-- .row END -->
            </div><!-- .container END -->
        </div>
    </div>
    <!-- End topBar section -->

    <!-- header section -->
    <header class="xs-header header-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="xs-logo-wraper">
                    <a href="/" class="xs-logo">
                        <img src="{% static 'assets/images/logo.png' %}" alt="logo image">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <!--Nav menu start -->
				{% include 'blog/includes/top_nav.html' %}
                <!--Nav menu end -->
            </div>
            <div class="col-lg-1 col-md-2">
                <ul class="xs-menu-tools">
                    <li>
                        <a href="#modal-popup-2" class="navsearch-button xs-modal-popup"><i class="icon icon-search"></i></a>
                    </li>
                </ul>
            </div>
        </div><!-- .row END -->
        <div class="navSidebar-wraper clearfix">
            <div class="single-navicon">
                <a href="#" class="navSidebar-button"><i class="icon icon-menu-1"></i></a>
            </div>
        </div><!-- .navSidebar-wraper END -->
    </div><!-- .container END -->
</header>
    <!-- End header section -->


    <!-- inner banner start -->
    <!--breadcrumb start here-->
    <section class="inner-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="hidden-h1">{{title}}</h1>
                    <div class="inner-banner-content">
                        <h1 class="inner-banner-title">{{ title }}</h1>
                        <ul class="breadcumbs list-inline">
                            <li><a href="/">На главную</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-image"
             style="background-image: url('{% static 'assets/images/backgrounds/background-1.jpg' %}')">
        </div>
    </section>
    <!--breadcrumb end here-->
	<!-- inner banner end -->

    {% block content %}


    {% endblock content %}

<!-- Кнопка "Наверх" -->
<div id="back-to-top">&#8679;</div>

<!-- language switcher start -->
<!-- xs modal -->
    <!-- DELETED from HERE -->
<!-- End xs modal -->
<!-- end language switcher -->

<!-- search panel start -->
<!-- xs modal -->
    {% include 'blog/includes/search_panel.html' %}
<!-- End xs modal -->
<!-- end search panel -->

<!-- offset cart start -->
<!-- sidebar cart item -->
    <!-- DELETED from HERE -->
<!-- END sidebar cart item -->
<!-- END offset cart -->

<!-- info panel start -->
<!-- sidebar info panel item -->
    {% include 'blog/includes/sidebar_info.html' %}
<!-- END sidebar widget item -->
<!-- END info panel -->

<!-- footer section start -->
    {% include 'blog/includes/footer_section.html' %}
<!-- footer section end -->

<!-- js file start -->
    {% include 'blog/includes/js_files.html' %}
<!-- End js file -->
</body>
</html>