<!doctype html>
<html class="no-js" lang="ru">

{% load static %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ title }}</title>
	{% include 'blog/includes/head.html' %}
</head>

<body>
<!--[if lt IE 10]>
	{% include 'blog/includes/browserupgrade.html' %}
<![endif]-->

<!-- preloader -->
	{% include 'blog/includes/preloader.html' %}
<!-- END preloader -->

<!-- Start header section -->
<div class="header header-transparent nav-sticky">
	<header class="xs-header header-main">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="xs-logo-wraper">
					<a href="/" class="xs-logo">
						<img src="{% static 'assets/images/logo-transparent-header.png' %}" alt="" class="logo-transparent">
						<img src="{% static 'assets/images/logo.png' %}" alt="" class="logo-sticky">
					</a>
				</div>
			</div>
			<div class="col-lg-7 col-md-6">
				<!--Nav menu start -->
			   {% include 'blog/includes/top_nav.html' %}
				<!--Nav menu end -->
			</div>
			<div class="col-lg-2 col-md-6">
				<ul class="xs-menu-tools">
					<li>
						<a href="#modal-popup-2" class="navsearch-button xs-modal-popup"><i class="icon icon-search"></i></a>
					</li>
				</ul>
			</div>
		</div><!-- .row END -->
		<div class="navSidebar-wraper clearfix">
			<div class="single-navicon">
				<a href="#" class="navSidebar-button"><i class="icon icon-menu-1"></i></a>
			</div>
		</div><!-- .navSidebar-wraper END -->
	</div><!-- .container END -->
</header>
</div>
<!-- End header section -->


<!-- services section -->
<section class="xs-section-padding" id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                        <ul class="nav nav-tabs main-tabs nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-one-area" data-toggle="tab" href="#tab-one" role="tab" aria-controls="tab-one" aria-selected="true">
                                    <span class="icon-holder"><img src="{% static 'assets/images/service-tab/icon-8.png' %}" alt=""></span>Telegram-боты
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-two-area" data-toggle="tab" href="#tab-two" role="tab" aria-controls="tab-two" aria-selected="false">
                                   <span class="icon-holder"><img src="{% static 'assets/images/service-tab/icon-1.png' %}" alt=""></span>Монетизация
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-three-area" data-toggle="tab" href="#tab-three" role="tab" aria-controls="tab-three" aria-selected="false">
                                    <span class="icon-holder"><img src="{% static 'assets/images/service-tab/icon-3.png' %}" alt=""></span>Веб-разработка
                                </a>
                            </li>
                        </ul>

                <div class="tab-content">
					<!-- Start TG-Development block -->
                    <div class="tab-pane fadeInRight animated show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one-area">
                        <div class="single-service-preview" id="service-one-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="{% static 'assets/images/service-tab/preview-2.png' %}" alt="">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">Разработка Telegram</h4>
                                        	<ul>
												<li>- Дорого</li>
												<li>- Комплексно</li>
												<li>- Своя платформа для разработки</li>
												<li>- Кастомные проекты</li>
												<li>- Внедрение</li>
												<li>- Сопровождение</li>
												<li>- Поддержка</li>
											</ul>
										<p style="color: black; font-weight: bold;">Реализовано - 104 бота</p>
                                        <div class="btn-wraper">
                                            <a href="#" class="btn btn-primary">Узнать больше</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->
                    </div><!-- #tab-one END -->
					<!-- End TG-Development block -->

					<!-- Start Monetization block -->
                    <div class="tab-pane fadeInRight animated" id="tab-two" role="tabpanel" aria-labelledby="tab-two-area">
                        <div class="single-service-preview" id="service-two-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="{% static 'assets/images/service-tab/preview-1.png' %}" alt="">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">Динамическая монетизация сайтов</h4>
											<ul>
												<li>- Header Bidding</li>
												<li>- Прямые рекламодатели</li>
												<li>- 15 рекламных сетей вместо одной</li>
												<li>- 15 рекламных сетей вместо одной</li>
												<li>- CPM выше среднего на 30%</li>
												<li>- Автоматическое размещение блоков</li>
											</ul>
										<p style="color: black; font-weight: bold;">На монетизации - 1127 сайтов</p>


                                        <div class="btn-wraper">
                                            <a href="#" class="btn btn-primary">Узнать больше</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->


                    </div><!-- #tab-two END -->
					<!-- End Monetization block -->

					<!-- Start WEB-Development block -->
                    <div class="tab-pane fadeInRight animated" id="tab-three" role="tabpanel" aria-labelledby="tab-three-area">
                        <div class="single-service-preview" id="service-three-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="{% static 'assets/images/service-tab/preview-3.png' %}" alt="">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">Веб разработка на Python</h4>
                                         	<ul>
												<li>- Надёжно</li>
											 	<li>- Простота и ясность кода</li>
												<li>- Множество инструментов и библиотек</li>
												<li>- Масштабируемость и производительность</li>
												<li>- Использование ведущих технологий</li>
												<li>- Сопровождение</li>
												<li>- Поддержка</li>
											</ul>
										<p style="color: black; font-weight: bold;">Реализовано - 33 сайта</p>
                                        <div class="btn-wraper">
                                            <a href="#" class="btn btn-primary">Узнать больше</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->
                    </div><!-- #tab-three END -->
					<!-- End WEB-Development block -->

				</div>
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- END services section -->

<!-- seo info section -->
<section class="xs-section-padding xs-seo-info" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="xs-info-img">
                    <img src="{% static 'assets/images/info/info-1.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="xs-info-wraper wow fadeInUp">
                    <div class="xs-heading">
                        <h3 class="section-title">Масштабируйте ваш бизнес</h3>
                        <span class="line"></span>
                    </div>
                    <p>MDigital - партнер для роста в цифровой сфере</p>
                    <ul class="xs-list check">
                        <li>Динамическая монетизация</li>
                        <li>Чат-боты и приложения в Telegram</li>
                        <li>Разработка инновационных программных решений</li>
                    </ul>
                    <a href="#" class="btn btn-secondary">Начать</a>
                </div><!-- .xs-info-wraper END -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- END seo info section -->

<!-- get free quote section -->
<section class="primary-bg xs-section-padding free-quote-area" data-delighter="start:0.3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="xs-heading text-center">
                    <h2 class="section-subtitle">Готов к росту?</h2>
                    <h3 class="section-title ">Получите выгодное предложение сегодня!</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form action="{% url 'incoming_order' %}" class="xs-inline-form" method="post">
					{% csrf_token %}
					<div class="row no-gutters">
						<div class="col-lg-6">
							<input type="url" name="site" id="website" placeholder="Web URL - вашего сайта" class="form-control">
						</div>
						<div class="col-lg-6">
							<input type="email" name="email" id="emails" placeholder="Email - адрес" class="form-control">
						</div>
					</div>
					<input type="submit" name="submit" value="Проверить" class="check-btn">
					<!-- Поле вывода сообщений пользователю -->
					<div id="orders-message" class="orders-message"></div>
				</form>
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
    <div class="parallax-icon-wraper">
        <img src="{% static 'assets/images/hand-bloom.png' %}" class="parallax-icon icon-one" alt="">
        <img src="{% static 'assets/images/chart.png' %}" class="parallax-icon icon-two" alt="">
    </div>
</section>
<!-- end get free quote section -->

<!-- why choose section -->
<section class="why-choose-section xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
<!--                    <h2 class="section-subtitle">Арбитраж трафика</h2>-->
                    <h3 class="section-title ">Почему динамическая монетизация</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-block wow fadeInUp">
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/features/features-1.png' %}" alt="hostinza hosting image">
                    </div>
                    <h4 class="xs-content-title">Получайте самые выгодные условия</h4>
                    <p>Объединим рекламные сети и прямых рекламодателей <br> в одном аукционе</p>
                </div><!-- .why-choose-us-block END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-block wow fadeInUp" data-wow-duration="1.5s">
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/features/features-2.png' %}" alt="hostinza hosting image">
                    </div>
                    <h4 class="xs-content-title">Повышайте доходность <br> на 70%</h4>
                    <p>Каждый показ будет куплен по максимальной цене</p>
                </div><!-- .why-choose-us-block END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-block wow fadeInUp" data-wow-duration="2s">
                    <div class="choose-us-img">
                        <img src="{% static 'assets/images/features/features-3.png' %}" alt="hostinza hosting image">
                    </div>
                    <h4 class="xs-content-title">Пользуйтесь широким выбором форматов</h4>
                    <p>Текстово-графические блоки, <br> баннеры, видео <br> и эксклюзивные форматы.</p>
                </div><!-- .why-choose-us-block END -->
            </div>
        </div>
    </div><!-- .container END -->
</section>
<!-- END why choose section -->

<!-- working process section -->
{% include 'blog/includes/workflow.html' %}
<!-- END working process section -->



<!-- services section (наши проекты)-->
<section class="xs-section-padding gray-bg" id="case">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
<!--                    <h2 class="section-subtitle">MDigital</h2>-->
                    <h3 class="section-title ">Портфолио</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-case-studies text-center wow fadeInUp">
                    <div class="image">
                        <img src="{% static 'assets/images/case/case-1.png' %}" alt="">
                    </div>
                    <div class="case-body">
                        <h4 class="small"><a href="case-details.html">Динамическая монетизация</a></h4>
                        <p>Аукционы ADFOX</p>
                    </div>
                </div><!-- .single-case-studies END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-case-studies text-center wow fadeInUp" data-wow-duration="1.2s">
                    <div class="image">
                        <img src="{% static 'assets/images/case/case-2.png' %}" alt="">
                    </div>
                    <div class="case-body">
                        <h4 class="small"><a href="case-details.html">Разработка сайтов</a></h4>
                        <p>Python, Bootstrap, Django</p>
                    </div>
                </div><!-- .single-case-studies END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-case-studies text-center wow fadeInUp" data-wow-duration="1.4s">
                    <div class="image">
                        <img src="{% static 'assets/images/case/case-3.png' %}" alt="">
                    </div>
                    <div class="case-body">
                        <h4 class="small"><a href="case-details.html">Telegram WebApp</a></h4>
                        <p>Telegram Bot API, Python</p>
                    </div>
                </div><!-- .single-case-studies END -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- END services section -->

<!-- pricing section -->
{% include 'blog/includes/pricing_section.html' %}
<!-- END pricing section -->

<!-- testimonials section (Отзывы клиентов) -->
<section class="xs-section-padding primary-bg testimonial-section" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
                    <h2 class="section-subtitle">О нас</h2>
                    <h3 class="section-title ">Тёплые слова от клиентов</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="testimonial-slider-preview owl-carousel" id="sync1">
                    <div class="single-testimonial-preview">
                        <p>“ "MDigital разработали для нашего бизнеса Telegram бота, который превзошел наши ожидания. Они проявили высокий профессионализм, оперативность и гибкость в реагировании на наши требования. Спасибо за отличную работу!" ”</p>
                        <span class="border-line"></span>
                    </div><!-- .single-testimonial-preview END -->
                    <div class="single-testimonial-preview">
                        <p>“ Работа с MDigital была приятным опытом для нашей компании. Они не только разработали для нас Python веб-приложение, но и предоставили отличную поддержку и консультации на протяжении всего процесса. Рекомендую их всем, кто ищет надежного партнера в сфере IT-разработки. ”</p>
                        <span class="border-line"></span>
                    </div><!-- .single-testimonial-preview END -->
                    <div class="single-testimonial-preview">
                        <p>“ MDigital помогли нам значительно увеличить прибыль с помощью их арбитража трафика. Их профессионализм и экспертное понимание рынка позволили нам оптимизировать наши маркетинговые усилия и добиться значительного роста конверсии. Очень довольны результатами и с нетерпением ждем продолжения сотрудничества! ”</p>
                        <span class="border-line"></span>
                    </div><!-- .single-testimonial-preview END -->
                    <div class="single-testimonial-preview">
                        <p>“ MDigital оказались идеальным партнером для нашего проекта. Их команда профессионалов разработала для нас высококачественное веб-приложение для Telegram, которое точно соответствует нашим требованиям. Они были отзывчивы к нашим запросам, предоставляли четкие обновления и всегда были на связи. Спасибо за отличное сотрудничество! ”</p>
                        <span class="border-line"></span>
                    </div><!-- .single-testimonial-preview END -->
                </div>
                <div class="testimonial-slider-thumb owl-carousel" id="sync2">
                    <div class="single-bio-thumb">
                        <div class="bio-image">
                            <img src="{% static 'assets/images/testimonial/testimonial-1.jpg' %}" alt="">
                        </div>
                        <div class="bio-info">
                            <h4 class="small">Иван Соколов </h4>
                            <p>"Elis-Group"</p>
                        </div>
                    </div><!-- .single-bio-thumb END -->
                    <div class="single-bio-thumb">
                        <div class="bio-image">
                            <img src="{% static 'assets/images/testimonial/testimonial-2.jpg' %}" alt="">
                        </div>
                        <div class="bio-info">
                            <h4 class="small">Дарья Светличная</h4>
                            <p>"Acuamarine"</p>
                        </div>
                    </div><!-- .single-bio-thumb END -->
                    <div class="single-bio-thumb">
                        <div class="bio-image">
                            <img src="{% static 'assets/images/testimonial/testimonial-3.jpg' %}" alt="">
                        </div>
                        <div class="bio-info">
                            <h4 class="small">Юлия Петренко</h4>
                            <p>"Друзья"</p>
                        </div>
                    </div><!-- .single-bio-thumb END -->
                    <div class="single-bio-thumb">
                        <div class="bio-image">
                            <img src="{% static 'assets/images/testimonial/testimonial-4.jpg' %}" alt="">
                        </div>
                        <div class="bio-info">
                            <h4 class="small">Павел Груздь</h4>
                            <p>"AllGiveBank"</p>
                        </div>
                    </div><!-- .single-bio-thumb END -->
                </div>
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
    <div class="big-watermark-icon">
        <i class="icon icon-quote"></i>
    </div>
</section>
<!-- END testimonials section -->

<!-- latest media section -->
<section class="xs-section-padding gray-bg" id="blogs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
                    <h2 class="section-subtitle">Последние посты</h2>
                    <h3 class="section-title ">Может быть интересно</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
			{% for post in posts %}
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post-thumb">
						<div class="post-image">
							<img src="{{ post.image.url|safe }}" alt="">
						</div>
						<div class="post-body">
							<div class="entry-header">
								<h4 class="entry-title"><a href="blog-single.html">{{ post.title }}</a></h4>
								<div class="entry-content">
									<p>{{ post.text | truncatewords:20|safe}} </p>
								</div>
								<div class="entry-meta">
									<span class="meta-date"><i class="icon icon-clock"></i>{{ post.create_at }}</span>
								</div>
							</div>
						</div>
                </div><!-- .single-blog-post-thumb END -->
            </div>
			{% endfor %}

           <div class="col-lg-4 col-md-6">
				<div class="newsletter-thumb-wraper">
					<i class="icon icon-message fly-icons"></i>
					<div class="newsletter-thumb-content">
						<h4 class=xs-content-title>Подпишитесь на рассылку</h4>
						<p>Введите свой адрес электронной почты в поле ниже, чтобы получать последние Digital новости</p>
						 <form id="subscribe-form" class="subscribe-form2" data-url="{{ request.path }}">
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" class="submit-btn" value="Подписаться">
							 <!-- Поле вывода сообщений пользователю -->
							<div id="subscribe-message" class="subscribe-message"></div>
						</form>
					</div>
				</div>
			</div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- END latest media section -->

<!-- language switcher start -->
<!-- xs modal -->
    <!-- DELETED from HERE -->
<!-- End xs modal -->
<!-- end language switcher -->

<!-- search panel start -->
<!-- xs modal -->
{% include 'blog/includes/search_panel.html' %}
<!-- End xs modal -->
<!-- end search panel -->

<!-- offset cart start -->
<!-- sidebar cart item -->
        <!-- DELETED from HERE -->
<!-- END sidebar cart item -->
<!-- END offset cart -->

<!-- info panel start -->
<!-- sidebar info panel item -->
{% include 'blog/includes/sidebar_info.html' %}
<!-- END sidebar widget item -->
<!-- END info panel -->

<!-- footer section start -->
{% include 'blog/includes/footer_section.html' %}
<!-- footer section end -->

<!-- js file start -->
{% include 'blog/includes/js_files.html' %}
<!-- End js file -->
</body>
</html>