<!doctype html>
<html class="no-js" lang="ru">

{% load static %}

<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Разработка Telegram ботов и веб-приложений, динамическая монетизация сайтов mdigital.su.">
    <meta property="og:title" content="Разработка Telegram ботов и веб-приложений, динамическая монетизация сайтов">
    <meta property="og:description" content="Telegram боты, веб-приложения и динамическая монетизация сайтов на mdigital.su.">
    <meta property="og:image" content="{% static 'assets/images/og_logo.png' %}">
    <meta property="og:url" content="https://mdigital.su/">
	<title>{{ title }}</title>
	{% include 'blog/includes/head.html' %}
    {% include 'blog/includes/yandex_metric.html' %}
</head>

<body>
<!-- Окно согласия на использование куки -->
    <div id="cookie-consent" class="cookie-consent">
        <div class="cookie-content">
            <p>Мы используем куки для улучшения пользовательского опыта на сайте. Продолжая использовать сайт, вы соглашаетесь на использование куки.</p>
            <button id="accept-cookies">Согласен</button>
        </div>
    </div>
<!-- End окна согласия на использование куки -->

<!--[if lt IE 10]>
	{% include 'blog/includes/browserupgrade.html' %}
<![endif]-->

<!-- preloader -->
	{% include 'blog/includes/preloader.html' %}
<!-- END preloader -->

<!-- Start header section -->
<div class="header header-transparent nav-sticky">
	<header class="xs-header header-main">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="xs-logo-wraper">
					<a href="/" class="xs-logo">
						<img src="{% static 'assets/images/logo-transparent-header.png' %}" alt="logo-transparent-header" class="logo-transparent">
						<img src="{% static 'assets/images/logo.png' %}" alt="logo" class="logo-sticky">
					</a>
				</div>
			</div>
			<div class="col-lg-8 col-md-10">
				<!--Nav menu start -->
			   {% include 'blog/includes/top_nav.html' %}
				<!--Nav menu end -->
			</div>
			<div class="col-lg-1 col-md-1">
				<ul class="xs-menu-tools">
					<li>
						<a href="#modal-popup-2" class="navsearch-button xs-modal-popup"><i class="icon icon-search"></i></a>
					</li>
				</ul>
			</div>
		</div><!-- .row END -->
		<div class="navSidebar-wraper clearfix">
			<div class="single-navicon">
				<a href="#" class="navSidebar-button"><i class="icon icon-menu-1"></i></a>
			</div>
		</div><!-- .navSidebar-wraper END -->
	</div><!-- .container END -->
</header>
</div>
<!-- End header section -->


<!-- services section -->
<section class="xs-section-padding" id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="hidden-h1">Наши услуги</h1>
                <ul class="nav nav-tabs main-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-one-area" data-toggle="tab" href="#tab-one" role="tab" aria-controls="tab-one" aria-selected="true">
                            <span class="icon-holder"><img src="{% static 'assets/images/service-tab/icon-8.png' %}" alt="icon telegram bots"></span>Telegram-боты
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-three-area" data-toggle="tab" href="#tab-three" role="tab" aria-controls="tab-three" aria-selected="false">
                            <span class="icon-holder"><img src="{% static 'assets/images/service-tab/icon-3.png' %}" alt="icon web development"></span>Веб-разработка
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-two-area" data-toggle="tab" href="#tab-two" role="tab" aria-controls="tab-two" aria-selected="false">
                           <span class="icon-holder"><img src="{% static 'assets/images/service-tab/icon-1.png' %}" alt="icon dynamic monetization"></span>Монетизация
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
					<!-- Start TG-Development block -->
                    <div class="tab-pane fadeInRight animated show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one-area">
                        <div class="single-service-preview" id="service-one-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="{% static 'assets/images/service-tab/tg_development.png' %}" alt="telegram development">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">Разработка Telegram</h4>
                                        	<ul class="xs-list check">
												<li>Комплексно</li>
												<li>Своя платформа для разработки</li>
												<li>Кастомные проекты</li>
												<li>Внедрение</li>
												<li>Сопровождение + Поддержка</li>
											</ul>
										<p style="color: black; font-weight: bold;">Реализовано - 104 бота</p>
                                        <div class="btn-wraper">
                                            <a href="tg_development/" class="btn btn-primary">Узнать больше</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->
                    </div><!-- #tab-one END -->
					<!-- End TG-Development block -->

					<!-- Start WEB-Development block -->
                    <div class="tab-pane fadeInRight animated" id="tab-three" role="tabpanel" aria-labelledby="tab-three-area">
                        <div class="single-service-preview" id="service-three-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="{% static 'assets/images/service-tab/web_development.png' %}" alt="web development">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">Веб разработка на Python</h4>
                                         	<ul class="xs-list check">
												<li>Множество инструментов и библиотек</li>
												<li>Масштабируемость и производительность</li>
												<li>Использование ведущих технологий</li>
                                                <li>SEO - оптимизация</li>
												<li>Сопровождение + Поддержка</li>
											</ul>
										<p style="color: black; font-weight: bold;">Реализовано - 33 сайта</p>
                                        <div class="btn-wraper">
                                            <a href="webdev/webdev" class="btn btn-primary">Узнать больше</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->
                    </div><!-- #tab-three END -->
					<!-- End WEB-Development block -->

                    <!-- Start Monetization block -->
                    <div class="tab-pane fadeInRight animated" id="tab-two" role="tabpanel" aria-labelledby="tab-two-area">
                        <div class="single-service-preview" id="service-two-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="{% static 'assets/images/service-tab/dynamic_monetization.png' %}" alt="dynamic monetization">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">Динамическая монетизация сайтов</h4>
											<ul class="xs-list check">
												<li>Header Bidding</li>
												<li>Прямые рекламодатели</li>
												<li>25 рекламных сетей вместо одной</li>
												<li>CPM выше среднего на 30%</li>
												<li>Автоматическое размещение блоков</li>
											</ul>
										<p style="color: black; font-weight: bold;">На монетизации > 2000 сайтов</p>


                                        <div class="btn-wraper">
                                            <a href="monetization/" class="btn btn-primary">Узнать больше</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->
                    </div><!-- #tab-two END -->
					<!-- End Monetization block -->

				</div>
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- END services section -->

<!-- seo info section -->
<section class="xs-section-padding xs-seo-info" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="xs-info-img">
                    <img src="{% static 'assets/images/info/info-1.png' %}" alt="scale your business">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="xs-info-wraper wow fadeInUp">
                    <div class="xs-heading">
                        <h3 class="section-title">Масштабируйте ваш бизнес</h3>
                        <span class="line"></span>
                    </div>
                    <p>MDigital - партнер для роста в цифровой сфере</p>
                    <ul class="xs-list check">
                        <li>Динамическая монетизация</li>
                        <li>Чат-боты и приложения в Telegram</li>
                        <li>Разработка инновационных программных решений</li>
                    </ul>
                    <a href="#" class="btn btn-secondary" id="open-another-consultation-modal">Начать</a>
                </div><!-- .xs-info-wraper END -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- END seo info section -->

<!-- working process section -->
{% include 'blog/includes/workflow.html' %}
<!-- END working process section -->

<!-- services section (наши проекты)-->
<section class="xs-section-padding primary-bg" id="case">
    <div class="container" id="unique-selector-case">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
<!--                    <h2 class="section-subtitle">MDigital</h2>-->
                    <h3 class="section-title ">Портфолио</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-case-studies text-center wow fadeInUp" data-wow-duration="1.4s">
                    <a href="{% url 'case_list' 'tg_cases' %}">
                        <div class="image">
                            <img src="{% static 'assets/images/case/tg_development.png' %}" alt="Telegram WebApp">
                        </div>
                        <div class="case-body">
                            <h4 class="small">Telegram WebApp</h4>
                            <p>Telegram Bot API, Python</p>
                        </div>
                    </a>
                </div><!-- .single-case-studies END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-case-studies text-center wow fadeInUp" data-wow-duration="1.2s">
                    <a href="{% url 'case_list' 'web_dev_cases' %}">
                        <div class="image">
                            <img src="{% static 'assets/images/case/web_development.png' %}" alt="web development">
                        </div>
                        <div class="case-body">
                            <h4 class="small">Разработка сайтов</h4>
                            <p>Python, Bootstrap, Django</p>
                        </div>
                    </a>
                </div><!-- .single-case-studies END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-case-studies text-center wow fadeInUp">
                    <a href="{% url 'case_list' 'monetization_cases' %}">
                        <div class="image">
                            <img src="{% static 'assets/images/case/dynamic_monetization.png' %}" alt="dynamic monetization">
                        </div>
                        <div class="case-body">
                            <h4 class="small">Динамическая монетизация</h4>
                            <p>Аукционы ADFOX</p>
                        </div>
                    </a>
                </div><!-- .single-case-studies END -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- END services section -->

<!-- pricing section -->
{% include 'blog/includes/pricing_section.html' %}
<!-- END pricing section -->

<!-- latest media section -->
<section class="xs-section-padding gray-bg" id="blogs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
                    <h2 class="section-subtitle">Последние посты</h2>
                    <h3 class="section-title ">Может быть интересно</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
			{% for post in posts %}
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post-thumb">
                    <div class="post-image">
                        <img src="{{ post.image.url|safe }}" alt="post image">
                    </div>
                    <div class="post-body">
                        <div class="entry-header">
                            <h4 class="entry-title"><a href="blog-single.html">{{ post.title }}</a></h4>
                            <div class="entry-content">
                                <p>{{ post.text | truncatewords:20|safe}} </p>
                            </div>
                            <div class="entry-meta">
                                <span class="meta-date"><i class="icon icon-clock"></i>{{ post.create_at }}</span>
                            </div>
                        </div>
                    </div>
                </div><!-- .single-blog-post-thumb END -->
            </div>
			{% endfor %}

            <div class="col-lg-4 col-md-6">
                <div class="newsletter-thumb-wraper">
                    <i class="icon icon-message fly-icons"></i>
                    <div class="newsletter-thumb-content">
                        <h4 class="xs-content-title">Подпишитесь на рассылку</h4>
                        <p>Введите свой адрес электронной почты в поле ниже, чтобы получать последние Digital новости</p>
                        <form id="subscribe-form" class="subscribe-form2" data-url="{{ request.path }}">
                            {% csrf_token %}
                            {{ form.email }}
                            <div class="form-check">
                                <label class="form-check-label" for="agree_to_privacy_policy_order">
                                    {{ form.agree_to_privacy_policy }}
                                    <span class="checkbox-text">Согласие с</span>
                                    <a href="#" data-toggle="modal" data-target="#privacyPolicyModal" class="modal-link">правилами обработки персональных данных</a>
                                    <span class="checkbox-text"> ознакомиться </span>
                                    <a href="{% url 'privacy_policy' %}" target="_blank" class="external-link">здесь</a>..
                                </label>
                                {% if form.agree_to_privacy_policy.errors %}
                                    <div class="invalid-feedback">
                                        {{ form.agree_to_privacy_policy.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <input type="submit" class="submit-btn" value="Подписаться">
                            <!-- Поле вывода сообщений пользователю -->
                            <div id="subscribe-message" class="subscribe-message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно для политики конфиденциальности -->
        {% include 'blog/includes/privacy_policy_modal.html' %}

    </div><!-- .container END -->
</section>
<!-- END latest media section -->

<!-- Button "Up" -->
<div id="back-to-top">&#8679;</div>
<!-- Button "Up" end -->

<!-- search panel start -->
{% include 'blog/includes/search_panel.html' %}
<!-- end search panel -->

<!-- sidebar info panel item -->
{% include 'blog/includes/sidebar_info.html' %}
<!-- END sidebar info panel item -->

<!-- footer section start -->
{% include 'blog/includes/footer_section.html' %}
<!-- footer section end -->

<!-- js file start -->
{% include 'blog/includes/js_files.html' %}
<!-- End js file -->
</body>
</html>