{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- case grid sidebar start -->
<section class="xs-section-padding blog-grid-sidebar-area cases-grid-sidebar-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row blog-inner-page cases-inner-page">
                    {% for case in cases %}
                    <div class="col-md-6">
                        <div class="single-blog-post-thumb case-post-thumb">
                            <div class="post-body case-body">
                                <div class="post-image case-image">
                                    <img src="{{ case.image.url|safe }}" alt="">
                                </div>
                                <div class="post-content case-content">
                                    <div class="entry-header case-header">
                                        <h2 class="entry-title case-title">
                                            <a href="{% url 'case_detail' category_slug=case.category.case_slug case_slug=case.slug %}">{{ case.title }}</a>
                                        </h2>
                                        <div class="entry-meta case-meta">
                                            <span class="meta-date case-date"><i class="icon icon-clock"></i> {{ case.create_at }} </span>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <p>{{ case.text | truncatewords:20|safe }} </p>
                                    </div>
                                    <div class="btn-wraper case-btn-wraper">
                                        <a href="{{ case.get_absolute_url }}" class="btn btn-primary icon-right">Смотреть...<i class="icon icon-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!-- .post-body END -->
                        </div><!-- .case-post-thumb END -->
                    </div>
                    {% endfor %}
                    <div class="col-md-12 pagination-wrapper"> <!-- pagination -->
                        <ul class="pagination">
                            {% if cases.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ cases.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-hidden="true">&laquo;</a>
                                </li>
                            {% endif %}

                            {% for i in cases.paginator.page_range %}
                                {% if cases.number == i %}
                                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if cases.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ cases.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-hidden="true">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>  <!-- end pagination -->
                </div><!-- .row END -->
            </div>
            <div class="col-md-4">
                <!-- cases sidebar start -->
                <div class="blog-sidebar-wraper right-sidebar cases-sidebar-wraper">
                    <div class="widget widget-search-cases">
                        {% include 'cases/includes/widget_search_cases.html' %}
                    </div>

                    <div class="widget widget-categories-cases">
                        {% include 'cases/includes/widget_categories_cases.html' %}
                    </div>

                    <div class="widget widget-latest-cases">
                        {% include 'cases/includes/widget_latest_cases.html' %}
                    </div>

                    <div class="widget widget-banner-adfinity">
                        {% include 'blog/includes/widget_banner_adfinity.html' %}
                    </div>
                </div> <!-- cases sidebar end -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- case grid sidebar end -->


{% endblock content %}