{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- case grid sidebar start -->
<section class="xs-section-padding blog-grid-sidebar-area cases-grid-sidebar-area case-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row blog-inner-page cases-inner-page">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-case-studies text-center wow fadeInUp" data-wow-duration="1.4s">
                            <a href="{% url 'case_list' 'tg_cases' %}">
                                <div class="image">
                                    <img src="{% static 'assets/images/case/tg_development.svg' %}" alt="Telegram WebApp">
                                </div>
                                <div class="case-body">
                                    <h4 class="small">Telegram боты и WebApp</h4>
                                    <p>Telegram Bot API, Python</p>
                                </div>
                            </a>
                        </div><!-- .single-case-studies END -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-case-studies text-center wow fadeInUp" data-wow-duration="1.2s">
                            <a href="{% url 'case_list' 'web_dev_cases' %}">
                                <div class="image">
                                    <img src="{% static 'assets/images/case/web_development.svg' %}" alt="web development">
                                </div>
                                <div class="case-body">
                                    <h4 class="small">Разработка сайтов и WEB-приложений</h4>
                                    <p>Python, Bootstrap, Django</p>
                                </div>
                            </a>
                        </div><!-- .single-case-studies END -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-case-studies text-center wow fadeInUp">
                            <a href="{% url 'case_list' 'web_dev_cases' %}">
                                <div class="image">
                                    <img src="{% static 'assets/images/case/dynamic_monetization.svg' %}" alt="dynamic monetization">
                                </div>
                                <div class="case-body">
                                    <h4 class="small">Динамическая монетизация</h4>
                                    <p>Аукционы ADFOX</p>
                                </div>
                            </a>
                        </div><!-- .single-case-studies END -->
                    </div>
                </div><!-- .row END -->
            </div>
            <div class="col-md-4">
                <!-- cases sidebar start -->
                <div class="blog-sidebar-wraper right-sidebar cases-sidebar-wraper">
                    <div class="widget widget-search-cases">
                        {% include 'cases/includes/widget_search_cases.html' %}
                    </div>

                    <div class="widget widget-categories-cases">
                        {% include 'cases/includes/widget_categories_cases.html' %}
                    </div>
                </div> <!-- cases sidebar end -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<!-- case grid sidebar end -->


{% endblock content %}